#contenitorePrincipale {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    overflow-y: scroll;
    height: 100vh;
    position: sticky;
    top: 0;
    box-sizing: border-box;
}

.dettagliLavoroTop {
    display: flex;
    justify-content: space-between;
}

#tipi {
    margin-top: 20px;
    margin-bottom: 20px;
}

.icone {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

.icone p {
    padding-left: 15px;
}

#button1 {
    padding: 5px 10px 5px 10px;
    border: 1.5px solid #0a66c2;
    border-radius: 25px;
    margin-right: 10px;
    background-color: #0a66c2;
    font-size: 1.2em;
    color: white;
    margin-bottom: 15px;
}
#button2 {
    padding: 5px 10px 5px 10px;
    border: 1.5px solid #0a66c2;
    border-radius: 25px;
    margin-right: 10px;
    font-size: 1.2em;
    background-color: white;
    color:#0a66c2;
    margin-bottom: 15px;
}

#descrizione h2 {
   margin-bottom: 15px;
}

#descrizione p {
   margin-bottom: 15px;
}

#descrizione li {
   margin-bottom: 15px;
   list-style: inside !important;
}

.dettagliLavoroTop svg {
    cursor: pointer;
    transition: transform 0.2s linear
}

.dettagliLavoroTop svg:hover {
    transform: scale(1.2);
}