.dropdown {
    display: inline-block;
    cursor: pointer;
  }
  .rotate {
    transform: rotate(0deg);
    transition: transform 0.3s ease;
    margin-top: 1%;
    cursor: pointer;
  }
  .unrotate{
    margin-top: 1%;
    transform: rotate(-180deg);
    transition: transform 0.3s ease;
   cursor: pointer;
  }
  .ConsigliatiPerTe{
    position: relative;
    border: 1px solid #e0dfdb;
    border-radius: 10px;
    background-color: white;
    box-sizing: border-box;
    padding: 10px;
  }
  .dropdown-contentCons {
    border: 1px solid #e0dfdb;
    display: none;
    position: absolute;
    background-color: #F4F2EE;
    width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 12px;
    margin-bottom:5px ;
    border-radius: 8px;
    top: 35px; 
    right: 1px;
  }
  .dropdown-contentCons a:hover{
    transition: transform 0.3s ease;
    transform: scale(1.05);
    color: #333;
  }
  .dropdown.open .dropdown-contentCons {
    display: flex;
    flex-direction: column;
  }
  .ConsigliatiPerTe > p:first-of-type {
    font-size: 0.8em;
  }
  .ConsigliatiPerTe > p {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

.cardConsigli {
    display: flex;
    max-width: 100%;
    margin: 10 0px;
    overflow: hidden; 
    position: relative;
    border-bottom: 1px solid gray;
    padding-left: 3%;
}

.cardConsigli img {
    width: 75px; 
    height: 75px; 
    object-fit: cover; 
}
.ConsigliH{
  margin: 0 5% 5% 5%;
}

.cardConsigli div {
    padding: 10px; 
    flex-grow: 1; 
}
.cardConsigliDettagli{
    display: flex;
    flex-direction:column ;
    border: none;
}


.card-buttonSegui {
    margin-top: 10px;
    padding: 4px 8px; 
    background-color: white;
    color: #0A66C2; 
    border: 2px solid #0A66C2;  
    border-radius: 26px; 
    cursor: pointer; 
   position: absolute;
   bottom: 38%;
   right: 10px;
}

.card-buttonSegui:hover{
  background-color: #E2F0FE;
  border: 3px solid #004182;
}
.VisPlus a{
  color: gray;
}
.VisPlus svg{
  vertical-align: middle;
}
.VisPlus-d{
  text-align: center;
  margin-right: 3%;
  margin-left: 3%;
}